body {
    max-width: 1020px;
    margin: 0 auto;
}

main {
    margin-bottom: 5rem;
}

/* --- CAROUSSEL --- */
.slider {
    max-width: 1020px;
    height: auto;
    overflow: hidden;
}

.slider-content {
    display: flex;
    width: 400%;
    height: auto;
}

.slider-content input, .mobile-img {
    display: none;
}

.slide-box {
    position: relative;
    width: 25%;
    height: auto;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 34%;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

.nav-manual .manual-btn:hover {
    background-color: #FFF;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #FFF;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

/* --- H2 --- */
h2 {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

/* --- BUTTON --- */
main button, input[type="button"] {
    border: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    padding: 5px 15px;
    cursor: pointer;
    transition: .2s;
}

main button:active, input[type="button"]:active {
    scale: .9;
}

/* --- POPULAR --- */
.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem;
}

.popular-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

.product-container img {
    width: 100%;
    margin-bottom: 1rem;
}

.product-name, .product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-name h3, .product-name i {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.product-name i {
    cursor: pointer;
}

.product-price p {
    font-size: 1.1rem;
    font-weight: 700;
}

.add-btn {
    background-color: #F4EDD4;
    margin-top: 1.4rem;
}

/* --- COLLECTIONS --- */
.collections {
    text-align: center;
    padding: 5rem 0;
}

.row1, .row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.collection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
    padding: 1rem;
    background-color: lightgrey;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.soft-colors {
    background-image: url('../img/soft-colors.jpg');
    width: 60%;
}

.mini-bags {
    background-image: url('../img/mini-bags.jpg');
    width: 40%;
}

.black-white {
    background-image: url('../img/black-and-white.jpg');
    width: 40%;
}

.earthy {
    background-image: url('../img/earthy.jpg');
    width: 60%;
}

.collection a {
    color: #FFF;
    text-decoration: none;
    padding: 1rem;
    transition: .3s;
}

.collection a:hover {
    color: #F4EDD4;
}

.collection h3 {
    font-size: 1.9rem;
    font-weight: 600;
}

.view-btn {
    margin-top: 2rem;
    background-color: #000;
    color: #FFF;
}

/* --- NEWSLETTER --- */
.newsletter {
    display: flex;
    align-items: center;
    height: 370px;
    padding: 2rem;
    background: url('../img/newsletter.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.newsletter aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    color: #FFF;
}

aside h3 {
    font-size: 2rem;
    font-weight: 600;
}

aside p {
    max-width: 450px;
    margin-bottom: 1rem;
}

aside form input[type="email"] {
    border: none;
    font-size: 1rem;
    padding: 5px;
    width: 270px;
}

aside form input[type="button"] {
    padding: 6px 10px;
    background-color: #F4EDD4;
    color: #000;
    cursor: pointer;
}

/* --- FOOTER --- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4EDD4;
    padding: 4rem 1rem;
}

footer div .logo-footer {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

footer div ul {
    list-style: none;
}

footer div ul li {
    padding: 1rem;
}

footer div ul li a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem;
    transition: .3s;
}

footer div ul li a:hover {
    color: #CFBA6D;
}

footer .contact {
    text-align: end;
}

footer .contact h3 {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

footer .contact .social-icons {
    margin-top: 1.5rem;
}

footer .contact .social-icons a {
    color: #000;
    font-size: 1.3rem;
    transition: .3s;
}

footer .contact .social-icons a:hover {
    color: #CFBA6D;
}

footer .contact .social-icons a:not(:last-child) {
    margin-right: 10px;
}