@media screen and (max-width: 1100px) {
    .nav-manual, .nav-auto {
        margin-top: 47%;
    }
}

@media screen and (max-width: 730px) {
    .mobile-img {
        display: block;
    }

    .desktop-img {
        display: none;
    }

    .nav-manual, .nav-auto {
        margin-top: 60%;
    }

    .popular-products {
        justify-content: center;
        gap: 3rem;
    }

    .nav-manual .manual-btn, .nav-auto div {
        padding: 8px;
    }
}

@media screen and (max-width: 580px) {
    h2 {
        font-size: 1.5rem;
    }

    .product-container {
        width: 200px;
    }

    .row1, .row2 {
        flex-direction: column;
    }

    .soft-colors, .mini-bags, .black-white, .earthy {
        width: 100%;
    }

    aside form input[type="email"] {
        width: 240px;
        margin-bottom: 1rem;
    }

    footer {
        flex-direction: column;
        align-items: start;
        gap: 2.5rem;
        padding: 4rem 2rem;
    }

    footer div ul li {
        padding: 1rem 0;
    }
    
    footer div ul li a {
        padding: 1rem 1rem 1rem 0;
    }

    footer .contact {
        text-align: start;
    }
}